{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<section class="px-2">
  <form
    class="max-w-lg shadow-2xl mt-12 border rounded-md px-6 py-5 mx-auto bg-blue-200 opacity-150"
    method="post"
  >
    <div class="">
      <label
        for="meme"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Input</label
      >
      <input
        type="text"
        name="meme"
        id="meme"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Meme"
        required=""
      />
    </div>
    <div class="grid place-items-center py-8">
      <button type="submit" class="w-fit bg-orange-200 rounded px-4 py-2">
        Generate
      </button>
    </div>
  </form>
</section>
{% endblock %}
