{% extends 'base.html' %} {% block title %}SignUp{% endblock %} {% block content
%}

<div class="py-10">
  <form
    class="max-w-lg shadow-2xl mt-12 border rounded-md px-6 py-5 mx-auto bg-blue-50 opacity-150"
    method="post"
  >
    <div class="py-2">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your email</label
      >
      <input
        type="email"
        name="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="name@company.com"
        required
      />
    </div>
    <div class="py-2">
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Name</label
      >
      <input
        type="name"
        name="name"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="name"
        required=""
      />
    </div>
    <div class="py-2">
      <label
        for="pass"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Password</label
      >
      <input
        type="pass"
        name="pass"
        id="pass"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required=""
      />
    </div>
    <div class="py-2">
      <label
        for="pass_conf"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Confirm password</label
      >
      <input
        type="pass_conf"
        name="pass_conf"
        id="pass_conf"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required=""
      />
    </div>

    <div class="grid place-items-center py-6">
      <button type="submit" class="w-fit bg-blue-300 px-4 py-3 rounded">
        Create an account
      </button>
    </div>

    <p class="text-sm font-light text-gray-700">
      Already have an account?
      <a
        href="{{url_for('auth.login')}}"
        class="font-medium text-primary-600 hover:underline dark:text-primary-500"
        >Login here</a
      >
    </p>
  </form>
</div>

{% endblock %}
